.button{
    display: inline-block;
    background:var(--primary-color);
    color:#fff;
    padding: 0.75rem 1.5rem;
    bo
    &:hover{
        background:var(--container-color);
        outline: 1px solid var(--primary-color);
        color:var(--primary-color);
    }
    &__header{
        display: none;
    }
}