.footer{
    background:var(--primary-color-lighten);
    padding-bottom: 2rem;
    &__container{
        row-gap: 2rem;
    }
    &__logo{
        font-size: 1.25rem;
        margin-bottom: 0.75rem;
        colo
    }
}