.header{
    position: fixed;
    width: 100%;
    background: var(--body-color);
    top:0;
    left: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__menu{
        @media screen and (max-width: 767px){
            position: fixed;
            background:var(--container-color);
            box-shadow: 0 0 4px rgba(0, green, blue, alpha);

        }
            
        
    }
}