.services{
    &__container{
       padding-top: 1rem;
    }
    &__info{
        display: grid;
        row-gap: 1rem;
        background:var(--container-color);
        b
        text-align: center;

    }
}